@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700&display=swap");

/* font-family: 'Noto Sans KR', sans-serif; */

:root {
  --dark: #2e2e2e;
  --gray: #848484;
  --nam: #57606f;
  --bg: #f6f6f8;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  background: #fff;
  width: 100vw;
  overflow-x: hidden;
}

/* section_01 */
.section_01 .container_01 {
  margin: 0 auto;
  width: 1170px;
}

.section_01 .container_01 .circle_line {
  position: relative;
  align-items: center;
  display: flex;
  left: 49%;
  padding-top: 120px;
  width: 960px;
}

.section_01 .container_01 .circle {
  text-indent: -9999px;
  width: 35px;
  height: 34px;
  border-radius: 20px;
  background: var(--nam);
}

.section_01 .container_01 .line {
  text-indent: -9999px;
  width: 960px;
  height: 1px;
  background: var(--nam);
}

.section_01 .container_01 .info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.section_01 .container_01 .info h3 {
  font-size: 48px;
  font-weight: 400;
  color: var(--nam);
  margin-top: 46px;
  text-align: center;
  line-height: 112%;
  letter-spacing: 0.02em;
  margin-bottom: 104px;
}
/* section_01__end */

/* section_02 */
.section_02 {
  width: 1170px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.section_02 .box_contents {
  overflow: hidden;
}

.box_contents .box {
  float: left;
  width: 585px;
  height: 585px;
  position: relative;
  background: var(--bg);
  color: var(--nam);
  text-align: center;
}

.box_contents .box .text_box {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box_contents .box h4 {
  font-weight: 500;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: 0.18em;
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 16px;
}

.box_contents .box h4::after {
  content: "";
  position: absolute;
  background: var(--nam);
  width: 100%;
  height: 2px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%);
}

.box_contents .box p {
  font-weight: 100;
  font-size: 18px;
  line-height: 145%;
}

.box_contents .hover_box {
  overflow: hidden;
}

.box_contents .hover_box img {
  transform: scale(1);
  transition: 0.3s;
}

.box_contents .hover_box .dark_bg {
  width: 100%;
  height: 100%;
  background: #2e2e2e;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.box_contents .hover_box p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;
  text-align: justify;
  font-size: 15px;
  line-height: 24px;
  letter-spacing: -0.04em;
  color: #fff;
  opacity: 0;
  transition: 0.5s ease-in-out;
  font-weight: 100;
}

.box_contents .hover_box:hover img {
  transform: scale(1.5);
}

.box_contents .hover_box:hover .dark_bg {
  opacity: 0.8;
}

.box_contents .hover_box:hover p {
  opacity: 1;
}

/* section_02__end */
